{% if not(pageTitle) %}
    {% set pageTitle = "Рома - лох" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class='loader'></div>
    <div class='wrapper'>
        <div class='content-wrapper'>
            {% block content %}{% endblock %}
        </div>
        <div class='sidebar-wrapper'>
            {% include "templates/menu.njk" %}
        </div>
    </div>

    <script src="./js/main.js"></script>
</body>
</html>
