{% macro folder(name, link, id) %}
    <div class='item folder draggable'>
        <div class='item-content drag-target' {% if link %}data-href='{{ link }}'{% endif %} {% if id %}data-window-id='{{ id }}'{% endif %}>{{ name }}</div>
    </div>
{% endmacro %}

{% macro file(name, link, id) %}
    <div class='item file draggable'>
        <div class='item-content drag-target' {% if link %}data-href='{{ link }}'{% endif %} {% if id %}data-window-id='{{ id }}'{% endif %}>{{ name }}</div>
    </div>
{% endmacro %}

{% macro name(name = 'Безымянный') %}
    <div class='title-wrapper drag-target'>
        <div class='title really-cool-border'>
            <div>{{ name }}</div>
        </div>
    </div>
{% endmacro %}