{% macro folder(name, link, id, icon) %}
    <div class='item folder draggable'>
        <div
            class='item-content drag-target'
            {% if link %} data-href='{{ link }}' {% endif %}
            {% if id %} data-window-id='{{ id }}' {% endif %}
            {% if icon %} style='background-image: url(../icons/{{ icon }})' {% endif %}
        >{{ name }}</div>
    </div>
{% endmacro %}

{% macro file(name, link, id, icon) %}
    <div class='item file draggable'>
        <div
            class='item-content drag-target'
            {% if link %}data-href='{{ link }}'{% endif %}
            {% if id %}data-window-id='{{ id }}'{% endif %}
            {% if icon %} style='background-image: url(icons/{{ icon }})' {% endif %}
        >{{ name }}</div>
    </div>
{% endmacro %}
