{% from "templates/macros.njk" import folder, file %}

<div class='items-line'>
    {{ file('snake', id = 'snake') }}
    {{ folder('майнкрафт', id = 'mine') }}
    {{ folder('залупа шмеля', id = 'test') }}
    {{ folder('не по вкусу') }}
</div>
<div class='items-line'>
    {{ folder('смерть от тоэ', id = 'toe') }}
    {{ folder('а по сути') }}
    {{ folder('вкусно') }}
</div>
<div class='items-line'>
    {{ folder('хз', id = 'hz') }}
    {{ folder('скари - гей') }}
    {{ folder('yes') }}
</div>
