{% from "templates/macros.njk" import folder, file %}

<div class='items-line'>
    {{ file() }}
    {{ folder('майнкрафт', '/mine.html') }}
    {{ folder('залупа шмеля') }}
    {{ folder('не по вкусу') }}
</div>
<div class='items-line'>
    {{ folder('вкусно') }}
    {{ folder('а по сути') }}
    {{ folder('вкусно') }}
</div>
<div class='items-line'>
    {{ folder('хз') }}
    {{ folder('скари - гей') }}
    {{ folder('yes') }}
</div>