{% if not(pageTitle) %}
    {% set pageTitle = "Рома - лох" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/page.css">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
