{% set pageTitle = 'Page Title' %}
{% set windowName = 'Window Title' %}

{% extends "./templates/page-layout.njk" %}

{% block content %}
    <div class='window'>
        <div class='title-wrapper drag-target'>
            <div class='title really-cool-border'>
                <div>{{ windowName }}</div>
            </div>
            <a class='window-close' href='/'></a>
        </div>

        <div class='content' data-simplebar data-simplebar-auto-hide="false">
            Page Content
        </div>
    </div>
{% endblock %}
