{% set pageTitle = "Рома - лох" %}
{% set windowName = 'Главная' %}

{% extends "./templates/layout.njk" %}

{% block content %}
    <div class='window resizable draggable fullscreen visible'>
        <div class='title-wrapper drag-target'>
            <div class='title really-cool-border'>
                <div>{{ windowName }}</div>
            </div>
        </div>

        <div class='content' data-simplebar data-simplebar-auto-hide="false">
            <h1>Мысли</h1>
            <p>Вообще я считаю, что тараканы это малоразвитая форма жизни. У римлян было много общих черт с людьми, например мышление: «Я читаю, а ты думаешь, и сколько времени так будешь делать – ровно столько и пока не поймешь». У наших тараканов просто очень тонкая форма мысли: «Я не знаю». Здесь мы подходим к корням. Разница только в том, что на русском тараканы писали не «я не знаю», а «я ничего не знаю».  Ну и про правильную и неправильную трактовку у них были параллели. Некоторые считают, что китайцы назвали их «жвачками», потому что у них не было определенного принципа чтения, а были только подражания внешним формам.Вот там я слышу: «Вот, например, в фильме “ From Captain Road” хорошо видно, что Дэн Истмен читает текст сначала ртом, а потом глазами. Как это можно назвать? Надо сказать все то же самое, что и он». И меня всякий раз начинает разбирать.</p>
            <p>Я играю в майнкрафт и мне нечего терять. Вот поэтому я и не пью. Я точно знаю, что через несколько дней я, возможно, утону в реке – так и будет мне казаться, пока я не увижу это собственными глазами. А я всегда был трезвенником. Но к этому дело не сводится – у меня есть две судьбы, которые я держу в уме. Первая – это карьера художника. Картины должны иметь цель. Это такое же правдоподобие, как Великая хартия Наполеона. Но я точно знаю, что смогу продать эти картины, когда они выйдут в свет. А в другой судьбе я думаю о любви. Все прочее в жизни – ничего не значит. Но, как сказал Китс, это и не важно. Я люблю все – и  жизнь, и твое имя. А еще я люблю рисовать фильмы. Их надо снимать каждый день, понимаешь? Просто так надо.</p>
        </div>
    </div>
{% endblock %}
